<div class="container titulo">
    <h2>Meus Cursos</h2>
</div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Instituição</th>
        <th scope="col">Descrição do Curso</th>
        <th scope="col">Quantidade de Horas</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>Alura</td>
        <td>Lógica de Programação I e II</td>
        <td>26h</td>
      </tr>
      <tr>
        <td>Alura</td>
        <td>Front End – HTML5, CSS3 e Javascript </td>
        <td>32h</td>
      </tr>
      <tr>
        <td>Alura</td>
        <td>Java e Orientação à Objetos</td>
        <td>130h</td>
      </tr>
      <tr>
        <td>Datum TI</td>
        <td>Spring Boot From Zero To Hero</td>
        <td>1:30h</td>
      </tr>
      <tr>
        <td>Digital Innovation One</td>
        <td>Lógica de Programação Essencial</td>
        <td>4h</td>
      </tr>
      <tr>
        <td>Digital Innovation One</td>
        <td>Estrutura de dados e Algoritimos </td>
        <td>2h</td>
      </tr>
      <tr>
        <td>Digital Innovation One</td>
        <td>Introdução ao Git e GitHub</td>
        <td>5h</td>
      </tr>
      <tr>
        <td>Digital Innovation One</td>
        <td>Aumentando a Produtividade com Spring Boot e Lombok </td>
        <td>2h</td>
      </tr>
      <tr>
        <td>Montreal Innovation Tech</td>
        <td>Introdução ao Angular</td>
        <td>2h</td>
      </tr>
      <tr>
        <td>Udemy</td>
        <td>Javascript e Bootstrap </td>
        <td>5h</td>
      </tr>
      <tr>
        <td>Udemy</td>
        <td>Introdução à Banco de Dados com MySQL  </td>
        <td>4:50h</td>
      </tr>
      <tr>
        <td>Udemy</td>
        <td>Scrum para Desenvolvedores de Software </td>
        <td>5:50h</td>
      </tr>
      <tr>
        <td>Udemy</td>
        <td>Git e GitHub </td>
        <td>1h</td>
      </tr>
      <tr>
        <td>Udemy</td>
        <td>Primeira API com Spring Boot 2.x</td>
        <td>4h</td>
      </tr>
      <tr>
        <td>Udemy</td>
        <td>Angular 10 + Spring Boot 2 </td>
        <td>1:50h</td>
      </tr>
      <tr>
        <td>Udemy</td>
        <td>Angular 9 + Spring Boot 2 Fullstack Completo </td>
        <td>20h</td>
      </tr>
      <tr>
        <td>Udemy</td>
        <td>Estrutura de dados e Algoritimos </td>
        <td>3:30h</td>
      </tr>
    </tbody>
</table>