<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="logo">
    <a class="navbar-brand" href="">Deivisson Santos</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> /> GitHub</a>
            </li>
        </ul>
    </div>
        <div class="nav justify-content-end">
            <ul>
                <li>
                    <a href="https://www.facebook.com/deivissondasilva">
                        <img src="../../../assets/img/fb.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/odeivissonsantos/?hl=pt-br">
                        <img src="../../../assets/img/ig.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/deivisson-santos-96296b131/">
                        <img src="../../../assets/img/ln.png">
                    </a>
                </li>
            </ul>
        </div>
</nav>
