main{
    padding-top: 92px;
}

.row {
    padding-top: 20px;
}

div {
    text-align: center;
}

.descricao {
    text-align: justify;
}

.featurette-heading-hobbie {
    text-align: center;
}

.lead-hobbie {
    text-align: center;
}

p#leadhobbie {
    text-align: center;
}
