<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="../../../assets/img/eu.png" id="image20">

            <h2>Quem sou eu...</h2>
            <p class="descricao">
                Meu nome é Deivisson, tenho 29 anos e sou natural de Salvador, onde vivo até hoje.
                Moro com minha esposa e não tenho filhos. Sou apaixonado por tecnologia, desde os meus
                14 anos que tive o meu próprio computador e assim já fazia manutenções,
                com 16 anos comecei a trabalhar numa Lan House afim de garantir experência. Mas,
                como a vida nos oferece oportunidades, começei a trabalhar na Drogasil S/A começando
                como operador de caixa e com pensamento no futuro, me formei em Administração de Empresa,
                passei a ser Balconista, logo após Gerente Adjunto e 
                hoje sou gerente desta empresa que atuo há aproximadamente 9 anos. Como os últimos 4 anos foram só
                vivendo para o trabalho, resolvi sair da zona de conforto e entrar no curso de Gestão da Tecnologia da
                Informação voltando para a área que amo e tendo como consequência a transição de carreira. Estou me
                aprimorando cada dia mais em busca de ser um Web
                Developer focado em Spring Boot 2 e Angular. </p>

        </div>
        <div class="col-lg-4">
            <img src="../../../assets/img/eu2.png" id="image20">

            <h2>Experiência Profissional</h2>
            <p class="descricao">- 2008/2009 - Defensoria Púlica da Bahia <br>
                Cargo: Estagiário Administrativo.<br><br>
                - 2011/2012 - Extra Hipermercado <br>
                Cargo: Operador de Hiper <br><br>
                - 2012/Atual - Drogasil S/A <br>
                Cargo: Atendente 1 / Atendente 2 / Gerente Adjunto de Loja / Gerente de Loja</p>

        </div>
        <div class="col-lg-4">
            <img src="../../../assets/img/eu3.png" id="image20">

            <h2>Escolaridade</h2>
            <p class="descricao">Ensino Superior Completo
                <br><br>

                - Instituição: IBES / ISEC<br>
                Curso: Adm. de Empresas <br>
                Conclusão: Junho/2016 <br><br>

                - Instituição: Estácio de Sá<br>
                Curso: Gestão da Tecnologia da Informação <br>
                Conclusão: Julho/2021
            </p>
        </div>
    </div>



    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-6">
            <h2 class="featurette-heading">Hobbie. <span class="text-muted">Pilotar moto</span></h2>
            <p class="lead">Um dos meus favoritos é viajar de moto ou até mesmo fazer um pequeno passeio.</p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/img/hobbie1.jpg" alt="">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-6 order-md-1">
            <h2 class="featurette-heading-hobbie">Hobbie. <span class="text-muted">Programar</span></h2>
            <p id="leadhobbie" class="lead">Nas horas vagas, amo colocar meus projetos em pratica.</p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/img/hobbie2.jpg" alt="">
        </div>
    </div>



</div>
